* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: rgb(122, 129, 111);
}

.card__wrapper {
    width: 120rem;
    background-color: #fff;
    border: 0.2 solid black;
    margin: 30rem auto;
    border-radius: 0.5rem;
}

.card {
    width: 23%;
    padding: 2rem;
    border: 0.2rem solid black;
    text-align: center;
    display: inline-block;
    margin: 0.88%;
    border-radius: 1.5rem;
}

.card__wrapper .card h2 {
    font-size: 3.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card__wrapper .card p {
    font-size: 1.5rem;
    transition-duration: 1s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card__wrapper .card button {
    width: 60%;
    background: none;
    height: 3rem;
    border-radius: 1rem;
    margin: 1rem 0;
    background-color: rgb(238, 255, 249);
    text-decoration: 0.5s;
}

.card__wrapper .card img {
    border-radius: 1.5rem;
}

.card img:hover {
    border-radius: 1.5rem;
}

.card__wrapper .card button:hover {
    background-color: rgb(129, 129, 130);
}

.card__wrapper .card button:active {
    background-color: rgb(125, 255, 212);

}